.ttmap {
    color: #877e7f;
    position: relative;
    top: 50px;
  }

  .img_mapa {
    position: relative;
    top: 50px;
    left: 35px;
  }

  .name_regions {
    color: #877e7f;
    position: absolute;
    top: 150px;
    left: 700px;
  }
  .info_perfil {
    color: #877e7f;
    position: relative;
    left: 650px;
    top: 170px;

  }
  .img_perfil {
    width: 300px;
    height: 200px;
    transform: translate(100px);
    top: 50px;
    position: relative;
    left: 550px;
    text-align: center;
    ;
  }
  .atendidos {
    position: relative;
    line-height: normal;
    left: 650px;
    top: 200px;
    max-width: 203px;
    margin: 1;
    padding: 2px;
    background-color: #d9d9d9;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
  }
  .encaminhados {
    position: relative;
    line-height: normal;
    left: 650px;
    top: 220px;
    max-width: 203px;
    margin: 1;
    padding: 2px;
    background-color: #d9d9d9;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
  }

  .info_pessoal {
    position: absolute;
    left: 850px;
    top: 375px;
  }

  .atendido {
    color: #877e7f;
    position: relative;
    left: 880px;
    top: 170px;
  }

  .encaminhado {
    color: #877e7f;
    position: relative;
    left: 880px;
    top: 55px;
  }

  .logout {
    position: relative;
    left: 870px;
    top: 200px;
  }

  #opcoes_icon {
    position: relative;
    top: 10px;
    left: 15px;
    width: 30px;
    height: auto;
  }

  #opcoes-content {
    position: relative;
    display: none;
  }

  .opcoes:hover #opcoes-content {
    display: block;
  }

  .notif_ring {
    position: absolute;
    left: 97%;
    transform: translateX(-97%);
    top: 50%;
    transform: translateY(-50%);
  }